@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primaria: #990a04;
  --background: hsl(0, 0%, 100%);
  --secundaria: #333333;
  --destaque: hsla(8, 34%, 54%, 1);
  --detalhe:hsla(241, 96%, 72%, 1);
}

body {
  margin: 0;
  font-family: "Libre Franklin", serif;
  background: var(--background) url('imagens/fundo.png') no-repeat center center fixed;
  background-size: cover;
  color: var(--secundaria);
}

a {
  font-family: "Libre Franklin", serif;
  text-decoration: none;
}

div.container {
  @media (max-width: 768px) {
    padding: 5rem 0;
  }
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
}